--
-- PostgreSQL database dump
--

\restrict 81LaEqsamR4P1EWiqt1azV66bhBDDbXSdmEAwo9tVBEeoa0J7jGD79gjQXvKfqo

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: account_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.account_status AS ENUM (
    'Active',
    'Restricted',
    'Suspended',
    'Blocked'
);


--
-- Name: application_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.application_status AS ENUM (
    'recommended',
    'applied',
    'invited',
    'shortlisted',
    'interview_scheduled',
    'rejected',
    'offered',
    'closed'
);


--
-- Name: assessment_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.assessment_status AS ENUM (
    'not_started',
    'in_progress',
    'completed',
    'disqualified'
);


--
-- Name: company_size_band; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.company_size_band AS ENUM (
    '1-10',
    '11-50',
    '51-200',
    '201-500',
    '501-1000',
    '1000+'
);


--
-- Name: employment_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.employment_status AS ENUM (
    'Employed',
    'Unemployed',
    'Student'
);


--
-- Name: experience_band; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.experience_band AS ENUM (
    'fresher',
    'mid',
    'senior',
    'leadership'
);


--
-- Name: interview_format; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.interview_format AS ENUM (
    'virtual',
    'onsite'
);


--
-- Name: interview_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.interview_status AS ENUM (
    'pending_confirmation',
    'scheduled',
    'completed',
    'cancelled'
);


--
-- Name: job_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.job_status AS ENUM (
    'active',
    'paused',
    'closed'
);


--
-- Name: job_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.job_type AS ENUM (
    'remote',
    'hybrid',
    'onsite'
);


--
-- Name: profile_strength; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.profile_strength AS ENUM (
    'Low',
    'Moderate',
    'Strong',
    'Elite'
);


--
-- Name: report_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.report_status AS ENUM (
    'pending',
    'under_review',
    'resolved',
    'dismissed'
);


--
-- Name: sales_model_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sales_model_type AS ENUM (
    'Inbound',
    'Outbound',
    'Hybrid'
);


--
-- Name: target_market; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.target_market AS ENUM (
    'SMB',
    'Mid-market',
    'Enterprise'
);


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'candidate',
    'recruiter',
    'admin'
);


--
-- Name: calculate_profile_completion(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.calculate_profile_completion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    score INTEGER := 0;

BEGIN

    IF NEW.full_name IS NOT NULL AND NEW.full_name != '' THEN score := score + 10; END IF;

    IF NEW.profile_photo_url IS NOT NULL THEN score := score + 15; END IF;

    IF NEW.bio IS NOT NULL AND length(NEW.bio) > 20 THEN score := score + 15; END IF;

    IF NEW.experience_history != '[]'::jsonb THEN score := score + 30; END IF;

    IF NEW.education_history != '[]'::jsonb THEN score := score + 20; END IF;

    IF NEW.identity_verified = true THEN score := score + 10; END IF;

    

    NEW.completion_score := score;

    RETURN NEW;

END;

$$;


--
-- Name: handle_new_candidate_settings(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.handle_new_candidate_settings() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    INSERT INTO public.candidate_settings (user_id)

    VALUES (new.id)

    ON CONFLICT (user_id) DO NOTHING;

    RETURN new;

END;

$$;


--
-- Name: initialize_recruiter_settings(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.initialize_recruiter_settings() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    INSERT INTO public.recruiter_settings (user_id)

    VALUES (NEW.user_id)

    ON CONFLICT (user_id) DO NOTHING;

    RETURN NEW;

END;

$$;


--
-- Name: is_authenticated_user(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.is_authenticated_user() RETURNS boolean
    LANGUAGE sql STABLE
    AS $$

  SELECT auth.uid() IS NOT NULL;

$$;


--
-- Name: protect_job_ownership_and_log(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.protect_job_ownership_and_log() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    job_owner_id UUID;

BEGIN

    -- Get the recruiter who originally posted this job

    SELECT recruiter_id INTO job_owner_id FROM jobs WHERE id = NEW.job_id;



    -- GUARDRAIL: Only the owner (or the system) can change statuses

    IF (OLD.status IS DISTINCT FROM NEW.status) AND (auth.uid() IS NOT NULL) THEN

        IF (auth.uid() != job_owner_id) THEN

            RAISE EXCEPTION 'Permission Denied: Only the recruiter who posted this job can move candidates in the pipeline.';

        END IF;

        

        -- Log the change to history

        INSERT INTO job_application_status_history (application_id, old_status, new_status, changed_by, reason)

        VALUES (NEW.id, OLD.status, NEW.status, auth.uid(), NEW.feedback);

    END IF;



    RETURN NEW;

END;

$$;


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assessment_questions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assessment_questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category text NOT NULL,
    driver text NOT NULL,
    experience_band text NOT NULL,
    difficulty text NOT NULL,
    question_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    evaluation_rubric text
);


--
-- Name: COLUMN assessment_questions.evaluation_rubric; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.assessment_questions.evaluation_rubric IS 'Guidance for the AI on what constitutes a high-quality (score 6) answer based on intent and logic.';


--
-- Name: assessment_responses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assessment_responses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    candidate_id uuid,
    question_id uuid,
    category text NOT NULL,
    driver text,
    difficulty text,
    raw_answer text,
    score integer,
    evaluation_metadata jsonb DEFAULT '{}'::jsonb,
    is_skipped boolean DEFAULT false,
    tab_switches integer DEFAULT 0,
    time_taken_seconds integer,
    created_at timestamp with time zone DEFAULT now(),
    question_text text,
    CONSTRAINT assessment_responses_score_check CHECK (((score >= 0) AND (score <= 6)))
);


--
-- Name: assessment_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assessment_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    candidate_id uuid,
    experience_band text NOT NULL,
    status text DEFAULT 'started'::text,
    total_budget integer,
    current_step integer DEFAULT 1,
    overall_score double precision DEFAULT 0.0,
    component_scores jsonb DEFAULT '{}'::jsonb,
    driver_confidence jsonb DEFAULT '{}'::jsonb,
    started_at timestamp with time zone DEFAULT now(),
    completed_at timestamp with time zone,
    warning_count integer DEFAULT 0
);


--
-- Name: blocked_users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.blocked_users (
    user_id uuid NOT NULL,
    reason text,
    blocked_at timestamp with time zone DEFAULT now()
);


--
-- Name: candidate_job_sync; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.candidate_job_sync (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    candidate_id uuid,
    job_id uuid,
    overall_match_score double precision,
    match_explanation text,
    missing_critical_skills text[],
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: candidate_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.candidate_profiles (
    user_id uuid NOT NULL,
    experience public.experience_band NOT NULL,
    location text,
    assessment_status public.assessment_status DEFAULT 'not_started'::public.assessment_status,
    created_at timestamp with time zone DEFAULT now(),
    skills text[],
    onboarding_step text DEFAULT 'INITIAL'::text,
    final_profile_score integer,
    job_type public.job_type DEFAULT 'onsite'::public.job_type,
    career_interests text[] DEFAULT '{}'::text[],
    learning_interests text[] DEFAULT '{}'::text[],
    social_links jsonb DEFAULT '{}'::jsonb,
    full_name text,
    phone_number text,
    profile_strength public.profile_strength DEFAULT 'Low'::public.profile_strength,
    completion_score integer DEFAULT 0,
    "current_role" text,
    years_of_experience integer,
    updated_at timestamp with time zone DEFAULT now(),
    profile_photo_url text,
    bio text,
    primary_industry_focus text,
    current_employment_status public.employment_status,
    key_responsibilities text,
    major_achievements text,
    linkedin_url text,
    portfolio_url text,
    learning_links jsonb DEFAULT '[]'::jsonb,
    terms_accepted boolean DEFAULT false,
    account_status public.account_status DEFAULT 'Active'::public.account_status,
    gender text,
    birthdate date,
    qualification_held text,
    graduation_year integer,
    referral text,
    resume_path text,
    target_role text,
    long_term_goal text,
    education_history jsonb DEFAULT '[]'::jsonb,
    experience_history jsonb DEFAULT '[]'::jsonb,
    projects jsonb DEFAULT '[]'::jsonb,
    certifications text[] DEFAULT '{}'::text[],
    career_gap_report jsonb DEFAULT '{}'::jsonb,
    professional_summary text,
    gpa_score numeric(3,2),
    graduation_status text,
    last_resume_parse_at timestamp with time zone,
    ai_extraction_confidence double precision DEFAULT 0.0,
    identity_verified boolean DEFAULT false,
    identity_proof_path text,
    expected_salary bigint,
    location_tier text
);


--
-- Name: COLUMN candidate_profiles.education_history; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.candidate_profiles.education_history IS 'Array of {institute, degree, year_passing, gpa_or_pcnt}';


--
-- Name: COLUMN candidate_profiles.experience_history; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.candidate_profiles.experience_history IS 'Array of {role, company, tenure_years, achievements, start_date, end_date}';


--
-- Name: COLUMN candidate_profiles.career_gap_report; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.candidate_profiles.career_gap_report IS 'Detailed audit of career gaps (>6mo for experienced, >12mo for freshers)';


--
-- Name: candidate_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.candidate_settings (
    user_id uuid NOT NULL,
    email_notifications boolean DEFAULT true,
    web_notifications boolean DEFAULT true,
    mobile_notifications boolean DEFAULT false,
    is_public boolean DEFAULT true,
    language text DEFAULT 'en'::text,
    timezone text DEFAULT 'UTC'::text,
    job_alert_frequency text DEFAULT 'instant'::text,
    minimum_salary_threshold integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: career_gps; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.career_gps (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    candidate_id uuid NOT NULL,
    target_role text NOT NULL,
    current_status text DEFAULT 'active'::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT career_gps_current_status_check CHECK ((current_status = ANY (ARRAY['active'::text, 'archived'::text])))
);


--
-- Name: career_milestones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.career_milestones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    gps_id uuid NOT NULL,
    step_order integer NOT NULL,
    title text NOT NULL,
    description text,
    skills_to_acquire text[] DEFAULT '{}'::text[],
    learning_actions jsonb DEFAULT '[]'::jsonb,
    status text DEFAULT 'not-started'::text,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    verification_url text,
    proof_attachment_path text,
    CONSTRAINT career_milestones_status_check CHECK ((status = ANY (ARRAY['not-started'::text, 'in-progress'::text, 'completed'::text])))
);


--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    thread_id uuid NOT NULL,
    sender_id uuid NOT NULL,
    text text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: chat_reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_reports (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    message_id uuid,
    reporter_id uuid,
    thread_id uuid,
    reason text NOT NULL,
    status public.report_status DEFAULT 'pending'::public.report_status,
    admin_notes text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: chat_threads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.chat_threads (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    candidate_id uuid NOT NULL,
    recruiter_id uuid NOT NULL,
    is_active boolean DEFAULT false,
    last_message_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: companies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.companies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    registration_number text,
    website text,
    location text,
    created_at timestamp with time zone DEFAULT now(),
    description text,
    profile_score integer DEFAULT 0,
    industry_category text,
    size_band public.company_size_band,
    sales_model public.sales_model_type,
    target_market public.target_market,
    visibility_tier text DEFAULT 'Low'::text,
    verification_status text DEFAULT 'Under Review'::text,
    domain text,
    hiring_focus_areas text[] DEFAULT '{}'::text[],
    avg_deal_size_range text,
    candidate_feedback_score double precision DEFAULT 0.0,
    successful_hires_count integer DEFAULT 0,
    updated_at timestamp with time zone DEFAULT now(),
    logo_url text,
    brand_colors jsonb DEFAULT '{"primary": "#2563eb", "secondary": "#64748b"}'::jsonb,
    life_at_photo_urls text[] DEFAULT '{}'::text[]
);


--
-- Name: follows; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.follows (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    follower_id uuid,
    following_id uuid,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: interview_slots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.interview_slots (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    interview_id uuid,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone NOT NULL,
    is_selected boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: interviews; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.interviews (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid,
    candidate_id uuid,
    recruiter_id uuid,
    application_id uuid,
    status public.interview_status DEFAULT 'pending_confirmation'::public.interview_status,
    round_name text NOT NULL,
    round_number integer DEFAULT 1,
    format public.interview_format DEFAULT 'virtual'::public.interview_format,
    meeting_link text,
    location text,
    interviewer_names text[] DEFAULT '{}'::text[],
    feedback text,
    cancellation_reason text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: job_application_status_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_application_status_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    application_id uuid NOT NULL,
    old_status text,
    new_status text NOT NULL,
    changed_by uuid NOT NULL,
    reason text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: job_applications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid,
    candidate_id uuid,
    status public.application_status DEFAULT 'applied'::public.application_status,
    feedback text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    invitation_message text
);


--
-- Name: job_views; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_views (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    job_id uuid,
    candidate_id uuid,
    viewer_ip text,
    user_agent text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid,
    recruiter_id uuid,
    title text NOT NULL,
    description text NOT NULL,
    experience_band public.experience_band NOT NULL,
    location text,
    job_type public.job_type DEFAULT 'onsite'::public.job_type,
    skills_required text[],
    salary_range text,
    status public.job_status DEFAULT 'active'::public.job_status,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    is_ai_generated boolean DEFAULT false,
    closed_at timestamp with time zone,
    metadata jsonb DEFAULT '{}'::jsonb,
    requirements text[] DEFAULT '{}'::text[],
    number_of_positions integer DEFAULT 1
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    type text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb,
    is_read boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: post_comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.post_comments (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid,
    post_id uuid,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: post_likes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.post_likes (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid,
    post_id uuid,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.posts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    content text NOT NULL,
    media_urls text[] DEFAULT '{}'::text[] NOT NULL,
    type text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: profile_analytics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_analytics (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    candidate_id uuid,
    recruiter_id uuid,
    event_type text,
    job_id uuid,
    created_at timestamp with time zone DEFAULT now(),
    metadata jsonb DEFAULT '{}'::jsonb,
    CONSTRAINT profile_analytics_event_type_check CHECK ((event_type = ANY (ARRAY['profile_view'::text, 'shortlist_add'::text, 'invite_sent'::text])))
);


--
-- Name: profile_matches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_matches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    candidate_id uuid,
    recruiter_id uuid,
    match_score integer DEFAULT 0,
    reasoning_text text,
    candidate_token text,
    recruiter_token text,
    match_type text DEFAULT 'culture_fit'::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: profile_scores; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_scores (
    user_id uuid NOT NULL,
    resume_score integer,
    behavioral_score integer,
    psychometric_score integer,
    skills_score integer,
    reference_score integer,
    final_score integer,
    calculated_at timestamp with time zone DEFAULT now()
);


--
-- Name: recruiter_assessment_questions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recruiter_assessment_questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category text NOT NULL,
    driver text NOT NULL,
    question_text text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: recruiter_assessment_responses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recruiter_assessment_responses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    question_text text NOT NULL,
    answer_text text NOT NULL,
    category text NOT NULL,
    relevance_score integer,
    specificity_score integer,
    clarity_score integer,
    ownership_score integer,
    average_score numeric(3,2),
    created_at timestamp with time zone DEFAULT now(),
    evaluation_metadata jsonb DEFAULT '{}'::jsonb
);


--
-- Name: recruiter_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recruiter_profiles (
    user_id uuid NOT NULL,
    company_id uuid,
    assessment_status public.assessment_status DEFAULT 'not_started'::public.assessment_status,
    created_at timestamp with time zone DEFAULT now(),
    onboarding_step text DEFAULT 'REGISTRATION'::text,
    warning_count integer DEFAULT 0,
    full_name text,
    job_title text,
    phone_number text,
    linkedin_url text,
    completion_score integer DEFAULT 0,
    updated_at timestamp with time zone DEFAULT now(),
    terms_accepted boolean DEFAULT false,
    account_status public.account_status DEFAULT 'Active'::public.account_status,
    bio text,
    team_role text DEFAULT 'recruiter'::text,
    is_admin boolean DEFAULT false,
    identity_proof_path text,
    identity_verified boolean DEFAULT false,
    professional_persona jsonb DEFAULT '{}'::jsonb
);


--
-- Name: recruiter_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recruiter_settings (
    user_id uuid NOT NULL,
    email_notifications boolean DEFAULT true,
    web_notifications boolean DEFAULT true,
    mobile_notifications boolean DEFAULT false,
    profile_visibility text DEFAULT 'public'::text,
    language text DEFAULT 'en'::text,
    timezone text DEFAULT 'UTC'::text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    ghost_mode boolean DEFAULT false
);


--
-- Name: resume_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.resume_data (
    user_id uuid NOT NULL,
    raw_text text,
    timeline jsonb,
    career_gaps jsonb,
    achievements text[],
    skills text[],
    education jsonb,
    parsed_at timestamp with time zone DEFAULT now(),
    raw_education jsonb,
    raw_experience jsonb,
    raw_projects jsonb
);


--
-- Name: saved_jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.saved_jobs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    candidate_id uuid,
    job_id uuid,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: skill_catalog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.skill_catalog (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    experience_band text NOT NULL,
    occurrence_count bigint DEFAULT 1,
    is_verified boolean DEFAULT true,
    last_seen_at timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: team_invitations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.team_invitations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    company_id uuid,
    inviter_id uuid,
    email text NOT NULL,
    status text DEFAULT 'pending'::text,
    created_at timestamp with time zone DEFAULT now(),
    expires_at timestamp with time zone DEFAULT (now() + '7 days'::interval)
);


--
-- Name: user_pinned_posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_pinned_posts (
    user_id uuid NOT NULL,
    post_id uuid NOT NULL,
    pinned_at timestamp with time zone DEFAULT now()
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    role public.user_role NOT NULL,
    email text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Data for Name: assessment_questions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: assessment_responses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: assessment_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.assessment_sessions (id, candidate_id, experience_band, status, total_budget, current_step, overall_score, component_scores, driver_confidence, started_at, completed_at, warning_count) FROM stdin;
2f23bc02-8e8a-4794-aed3-e04b91a45040	a951825b-e862-430d-b0e7-5fa29f95f7a2	mid	completed	10	11	41	{"skill": 50, "resume": 33, "behavioral": 44, "psychometric": 44}	{}	2026-03-03 11:21:08.43034+00	2026-03-06 06:09:58.169058+00	0
\.


--
-- Data for Name: blocked_users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.blocked_users (user_id, reason, blocked_at) FROM stdin;
\.


--
-- Data for Name: candidate_job_sync; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.candidate_job_sync (id, candidate_id, job_id, overall_match_score, match_explanation, missing_critical_skills, created_at) FROM stdin;
\.


--
-- Data for Name: candidate_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: candidate_settings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: career_gps; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.career_gps (id, candidate_id, target_role, current_status, created_at, updated_at) FROM stdin;
7220f77d-c620-4757-ae13-e477936d8fd7	a951825b-e862-430d-b0e7-5fa29f95f7a2	Enterprise Account Executive	active	2026-03-03 11:31:55.502542+00	2026-03-03 11:31:55.502542+00
\.


--
-- Data for Name: career_milestones; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.chat_messages (id, thread_id, sender_id, text, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: chat_reports; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.chat_reports (id, message_id, reporter_id, thread_id, reason, status, admin_notes, created_at) FROM stdin;
\.


--
-- Data for Name: chat_threads; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.chat_threads (id, candidate_id, recruiter_id, is_active, last_message_at, created_at) FROM stdin;
08a5e791-793c-49f9-900c-5c844d76ab02	a951825b-e862-430d-b0e7-5fa29f95f7a2	0ed87797-ba2c-49c7-b764-2c43df267724	t	2026-03-04 05:00:23.097957+00	2026-03-04 05:00:23.097957+00
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: follows; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.follows (id, follower_id, following_id, created_at) FROM stdin;
\.


--
-- Data for Name: interview_slots; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.interview_slots (id, interview_id, start_time, end_time, is_selected, created_at) FROM stdin;
\.


--
-- Data for Name: interviews; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.interviews (id, job_id, candidate_id, recruiter_id, application_id, status, round_name, round_number, format, meeting_link, location, interviewer_names, feedback, cancellation_reason, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: job_application_status_history; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: job_applications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: job_views; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.job_views (id, job_id, candidate_id, viewer_ip, user_agent, created_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: post_comments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.post_comments (id, user_id, post_id, content, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: post_likes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.post_likes (id, user_id, post_id, created_at) FROM stdin;
ec634bf1-f7f0-4b26-8159-3a28ebcacf29	0ed87797-ba2c-49c7-b764-2c43df267724	9326d800-f612-4927-8806-50ab4c1a0995	2026-03-04 06:30:14.114391+00
4438b5f3-9ae7-4ae0-96ee-a557ca979dd6	a951825b-e862-430d-b0e7-5fa29f95f7a2	ecaed6d5-5957-49e4-9880-ccfe07097203	2026-03-04 06:30:59.294151+00
\.


--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: profile_analytics; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.profile_analytics (id, candidate_id, recruiter_id, event_type, job_id, created_at, metadata) FROM stdin;
\.


--
-- Data for Name: profile_matches; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.profile_matches (id, candidate_id, recruiter_id, match_score, reasoning_text, candidate_token, recruiter_token, match_type, created_at, updated_at) FROM stdin;
362a3081-4bb4-4a09-bda2-ab338d1fad39	a951825b-e862-430d-b0e7-5fa29f95f7a2	0ed87797-ba2c-49c7-b764-2c43df267724	92	The candidate loves learning and growing, which is exactly what the company wants.	\N	\N	profile_matching	2026-03-05 09:33:15.594495+00	2026-03-05 09:33:15.594495+00
\.


--
-- Data for Name: profile_scores; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.profile_scores (user_id, resume_score, behavioral_score, psychometric_score, skills_score, reference_score, final_score, calculated_at) FROM stdin;
a951825b-e862-430d-b0e7-5fa29f95f7a2	33	44	44	50	\N	41	2026-03-03 11:29:34.713239+00
\.


--
-- Data for Name: recruiter_assessment_questions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: recruiter_assessment_responses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: recruiter_profiles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.recruiter_profiles (user_id, company_id, assessment_status, created_at, onboarding_step, warning_count, full_name, job_title, phone_number, linkedin_url, completion_score, updated_at, terms_accepted, account_status, bio, team_role, is_admin, identity_proof_path, identity_verified, professional_persona) FROM stdin;
0ed87797-ba2c-49c7-b764-2c43df267724	9c58a67f-cac2-4221-8403-c5389daaa2c9	completed	2026-03-03 08:58:14.616245+00	COMPLETED	0	Prathap J	Recruiter	9880957981	https://www.linkedin.com/in/mithunmk13/	100	2026-03-03 08:58:14.616245+00	f	Active		admin	f	\N	f	{}
\.


--
-- Data for Name: recruiter_settings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.recruiter_settings (user_id, email_notifications, web_notifications, mobile_notifications, profile_visibility, language, timezone, created_at, updated_at, ghost_mode) FROM stdin;
0ed87797-ba2c-49c7-b764-2c43df267724	f	f	f	public	en	UTC	2026-03-03 08:58:14.616245+00	2026-03-04 08:53:57.249427+00	f
\.


--
-- Data for Name: resume_data; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: saved_jobs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.saved_jobs (id, candidate_id, job_id, created_at) FROM stdin;
da6dcbda-a1e5-4f8b-a636-cad105a10882	a951825b-e862-430d-b0e7-5fa29f95f7a2	1b23c92d-a10b-4a0e-9623-e5fb97d3290f	2026-03-06 05:39:20.87793+00
\.


--
-- Data for Name: skill_catalog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: team_invitations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.team_invitations (id, company_id, inviter_id, email, status, created_at, expires_at) FROM stdin;
\.


--
-- Data for Name: user_pinned_posts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_pinned_posts (user_id, post_id, pinned_at) FROM stdin;
a951825b-e862-430d-b0e7-5fa29f95f7a2	9326d800-f612-4927-8806-50ab4c1a0995	2026-03-04 06:01:52.923154+00
a951825b-e862-430d-b0e7-5fa29f95f7a2	ecaed6d5-5957-49e4-9880-ccfe07097203	2026-03-04 06:01:58.981922+00
0ed87797-ba2c-49c7-b764-2c43df267724	3306fe7b-a62e-4984-af77-422f3131e60e	2026-03-04 06:03:14.508403+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: assessment_questions assessment_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assessment_questions
    ADD CONSTRAINT assessment_questions_pkey PRIMARY KEY (id);


--
-- Name: assessment_responses assessment_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assessment_responses
    ADD CONSTRAINT assessment_responses_pkey PRIMARY KEY (id);


--
-- Name: assessment_sessions assessment_sessions_candidate_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assessment_sessions
    ADD CONSTRAINT assessment_sessions_candidate_id_key UNIQUE (candidate_id);


--
-- Name: assessment_sessions assessment_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assessment_sessions
    ADD CONSTRAINT assessment_sessions_pkey PRIMARY KEY (id);


--
-- Name: blocked_users blocked_users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blocked_users
    ADD CONSTRAINT blocked_users_pkey PRIMARY KEY (user_id);


--
-- Name: candidate_job_sync candidate_job_sync_candidate_id_job_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate_job_sync
    ADD CONSTRAINT candidate_job_sync_candidate_id_job_id_key UNIQUE (candidate_id, job_id);


--
-- Name: candidate_job_sync candidate_job_sync_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate_job_sync
    ADD CONSTRAINT candidate_job_sync_pkey PRIMARY KEY (id);


--
-- Name: candidate_profiles candidate_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate_profiles
    ADD CONSTRAINT candidate_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: candidate_settings candidate_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate_settings
    ADD CONSTRAINT candidate_settings_pkey PRIMARY KEY (user_id);


--
-- Name: career_gps career_gps_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.career_gps
    ADD CONSTRAINT career_gps_pkey PRIMARY KEY (id);


--
-- Name: career_milestones career_milestones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.career_milestones
    ADD CONSTRAINT career_milestones_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chat_reports chat_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_reports
    ADD CONSTRAINT chat_reports_pkey PRIMARY KEY (id);


--
-- Name: chat_threads chat_threads_candidate_id_recruiter_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_threads
    ADD CONSTRAINT chat_threads_candidate_id_recruiter_id_key UNIQUE (candidate_id, recruiter_id);


--
-- Name: chat_threads chat_threads_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_threads
    ADD CONSTRAINT chat_threads_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: companies companies_registration_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_registration_number_key UNIQUE (registration_number);


--
-- Name: follows follows_follower_id_following_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_follower_id_following_id_key UNIQUE (follower_id, following_id);


--
-- Name: follows follows_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pkey PRIMARY KEY (id);


--
-- Name: interview_slots interview_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interview_slots
    ADD CONSTRAINT interview_slots_pkey PRIMARY KEY (id);


--
-- Name: interviews interviews_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_pkey PRIMARY KEY (id);


--
-- Name: job_application_status_history job_application_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_application_status_history
    ADD CONSTRAINT job_application_status_history_pkey PRIMARY KEY (id);


--
-- Name: job_applications job_applications_job_id_candidate_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_id_candidate_id_key UNIQUE (job_id, candidate_id);


--
-- Name: job_applications job_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_pkey PRIMARY KEY (id);


--
-- Name: job_views job_views_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_views
    ADD CONSTRAINT job_views_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: post_comments post_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_comments
    ADD CONSTRAINT post_comments_pkey PRIMARY KEY (id);


--
-- Name: post_likes post_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_pkey PRIMARY KEY (id);


--
-- Name: post_likes post_likes_user_id_post_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_user_id_post_id_key UNIQUE (user_id, post_id);


--
-- Name: posts posts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_pkey PRIMARY KEY (id);


--
-- Name: profile_analytics profile_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_analytics
    ADD CONSTRAINT profile_analytics_pkey PRIMARY KEY (id);


--
-- Name: profile_matches profile_matches_candidate_id_recruiter_id_match_type_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_matches
    ADD CONSTRAINT profile_matches_candidate_id_recruiter_id_match_type_key UNIQUE (candidate_id, recruiter_id, match_type);


--
-- Name: profile_matches profile_matches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_matches
    ADD CONSTRAINT profile_matches_pkey PRIMARY KEY (id);


--
-- Name: profile_scores profile_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_scores
    ADD CONSTRAINT profile_scores_pkey PRIMARY KEY (user_id);


--
-- Name: recruiter_assessment_questions recruiter_assessment_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recruiter_assessment_questions
    ADD CONSTRAINT recruiter_assessment_questions_pkey PRIMARY KEY (id);


--
-- Name: recruiter_assessment_responses recruiter_assessment_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recruiter_assessment_responses
    ADD CONSTRAINT recruiter_assessment_responses_pkey PRIMARY KEY (id);


--
-- Name: recruiter_profiles recruiter_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recruiter_profiles
    ADD CONSTRAINT recruiter_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: recruiter_settings recruiter_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recruiter_settings
    ADD CONSTRAINT recruiter_settings_pkey PRIMARY KEY (user_id);


--
-- Name: resume_data resume_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.resume_data
    ADD CONSTRAINT resume_data_pkey PRIMARY KEY (user_id);


--
-- Name: saved_jobs saved_jobs_candidate_id_job_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_jobs
    ADD CONSTRAINT saved_jobs_candidate_id_job_id_key UNIQUE (candidate_id, job_id);


--
-- Name: saved_jobs saved_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_jobs
    ADD CONSTRAINT saved_jobs_pkey PRIMARY KEY (id);


--
-- Name: skill_catalog skill_catalog_name_experience_band_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill_catalog
    ADD CONSTRAINT skill_catalog_name_experience_band_key UNIQUE (name, experience_band);


--
-- Name: skill_catalog skill_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.skill_catalog
    ADD CONSTRAINT skill_catalog_pkey PRIMARY KEY (id);


--
-- Name: team_invitations team_invitations_company_id_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.team_invitations
    ADD CONSTRAINT team_invitations_company_id_email_key UNIQUE (company_id, email);


--
-- Name: team_invitations team_invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.team_invitations
    ADD CONSTRAINT team_invitations_pkey PRIMARY KEY (id);


--
-- Name: user_pinned_posts user_pinned_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_pinned_posts
    ADD CONSTRAINT user_pinned_posts_pkey PRIMARY KEY (user_id, post_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_candidate_certs; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_candidate_certs ON public.candidate_profiles USING gin (certifications);


--
-- Name: idx_candidate_pool_filter; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_candidate_pool_filter ON public.candidate_profiles USING btree (assessment_status, experience);


--
-- Name: idx_candidate_skills; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_candidate_skills ON public.candidate_profiles USING gin (skills);


--
-- Name: idx_chat_messages_thread; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_messages_thread ON public.chat_messages USING btree (thread_id);


--
-- Name: idx_chat_threads_candidate; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_threads_candidate ON public.chat_threads USING btree (candidate_id);


--
-- Name: idx_chat_threads_recruiter; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_threads_recruiter ON public.chat_threads USING btree (recruiter_id);


--
-- Name: idx_follows_follower; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_follows_follower ON public.follows USING btree (follower_id);


--
-- Name: idx_follows_following; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_follows_following ON public.follows USING btree (following_id);


--
-- Name: idx_interview_slots_interview_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_interview_slots_interview_id ON public.interview_slots USING btree (interview_id);


--
-- Name: idx_interviews_application_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_interviews_application_id ON public.interviews USING btree (application_id);


--
-- Name: idx_interviews_candidate_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_interviews_candidate_id ON public.interviews USING btree (candidate_id);


--
-- Name: idx_interviews_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_interviews_job_id ON public.interviews USING btree (job_id);


--
-- Name: idx_job_applications_candidate_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_job_applications_candidate_id ON public.job_applications USING btree (candidate_id);


--
-- Name: idx_job_applications_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_job_applications_job_id ON public.job_applications USING btree (job_id);


--
-- Name: idx_job_skills; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_job_skills ON public.jobs USING gin (skills_required);


--
-- Name: idx_job_views_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_job_views_job_id ON public.job_views USING btree (job_id);


--
-- Name: idx_jobs_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_company_id ON public.jobs USING btree (company_id);


--
-- Name: idx_milestones_verification; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_milestones_verification ON public.career_milestones USING btree (verification_url) WHERE (verification_url IS NOT NULL);


--
-- Name: idx_pinned_posts_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_pinned_posts_user ON public.user_pinned_posts USING btree (user_id);


--
-- Name: idx_post_comments_post_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_post_comments_post_id ON public.post_comments USING btree (post_id);


--
-- Name: idx_post_likes_post_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_post_likes_post_id ON public.post_likes USING btree (post_id);


--
-- Name: idx_profile_matches_candidate; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_profile_matches_candidate ON public.profile_matches USING btree (candidate_id);


--
-- Name: idx_profile_matches_recruiter; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_profile_matches_recruiter ON public.profile_matches USING btree (recruiter_id);


--
-- Name: idx_profile_verified; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_profile_verified ON public.candidate_profiles USING btree (identity_verified);


--
-- Name: idx_recruiter_responses_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_recruiter_responses_user ON public.recruiter_assessment_responses USING btree (user_id);


--
-- Name: idx_skill_catalog_band; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_skill_catalog_band ON public.skill_catalog USING btree (experience_band);


--
-- Name: recruiter_profiles tr_initialize_recruiter_settings; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_initialize_recruiter_settings AFTER INSERT ON public.recruiter_profiles FOR EACH ROW EXECUTE FUNCTION public.initialize_recruiter_settings();


--
-- Name: candidate_profiles tr_refresh_completion_score; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_refresh_completion_score BEFORE INSERT OR UPDATE ON public.candidate_profiles FOR EACH ROW EXECUTE FUNCTION public.calculate_profile_completion();


--
-- Name: profile_matches tr_update_profile_matches_timestamp; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_update_profile_matches_timestamp BEFORE UPDATE ON public.profile_matches FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: recruiter_settings tr_update_recruiter_settings_timestamp; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_update_recruiter_settings_timestamp BEFORE UPDATE ON public.recruiter_settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: job_applications trg_protect_and_log_applications; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_protect_and_log_applications BEFORE UPDATE ON public.job_applications FOR EACH ROW EXECUTE FUNCTION public.protect_job_ownership_and_log();


--
-- Name: assessment_responses assessment_responses_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assessment_responses
    ADD CONSTRAINT assessment_responses_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: assessment_responses assessment_responses_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assessment_responses
    ADD CONSTRAINT assessment_responses_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.assessment_questions(id);


--
-- Name: assessment_sessions assessment_sessions_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assessment_sessions
    ADD CONSTRAINT assessment_sessions_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: blocked_users blocked_users_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blocked_users
    ADD CONSTRAINT blocked_users_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: candidate_job_sync candidate_job_sync_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate_job_sync
    ADD CONSTRAINT candidate_job_sync_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: candidate_job_sync candidate_job_sync_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate_job_sync
    ADD CONSTRAINT candidate_job_sync_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: candidate_profiles candidate_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate_profiles
    ADD CONSTRAINT candidate_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: candidate_settings candidate_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.candidate_settings
    ADD CONSTRAINT candidate_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: career_gps career_gps_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.career_gps
    ADD CONSTRAINT career_gps_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidate_profiles(user_id) ON DELETE CASCADE;


--
-- Name: career_milestones career_milestones_gps_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.career_milestones
    ADD CONSTRAINT career_milestones_gps_id_fkey FOREIGN KEY (gps_id) REFERENCES public.career_gps(id) ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: chat_messages chat_messages_thread_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_thread_id_fkey FOREIGN KEY (thread_id) REFERENCES public.chat_threads(id) ON DELETE CASCADE;


--
-- Name: chat_reports chat_reports_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_reports
    ADD CONSTRAINT chat_reports_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.chat_messages(id) ON DELETE SET NULL;


--
-- Name: chat_reports chat_reports_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_reports
    ADD CONSTRAINT chat_reports_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: chat_reports chat_reports_thread_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_reports
    ADD CONSTRAINT chat_reports_thread_id_fkey FOREIGN KEY (thread_id) REFERENCES public.chat_threads(id) ON DELETE CASCADE;


--
-- Name: chat_threads chat_threads_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_threads
    ADD CONSTRAINT chat_threads_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidate_profiles(user_id) ON DELETE CASCADE;


--
-- Name: chat_threads chat_threads_recruiter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.chat_threads
    ADD CONSTRAINT chat_threads_recruiter_id_fkey FOREIGN KEY (recruiter_id) REFERENCES public.recruiter_profiles(user_id) ON DELETE CASCADE;


--
-- Name: follows follows_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: follows follows_following_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_following_id_fkey FOREIGN KEY (following_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: interview_slots interview_slots_interview_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interview_slots
    ADD CONSTRAINT interview_slots_interview_id_fkey FOREIGN KEY (interview_id) REFERENCES public.interviews(id) ON DELETE CASCADE;


--
-- Name: interviews interviews_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.job_applications(id) ON DELETE CASCADE;


--
-- Name: interviews interviews_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: interviews interviews_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: interviews interviews_recruiter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.interviews
    ADD CONSTRAINT interviews_recruiter_id_fkey FOREIGN KEY (recruiter_id) REFERENCES public.recruiter_profiles(user_id) ON DELETE CASCADE;


--
-- Name: job_application_status_history job_application_status_history_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_application_status_history
    ADD CONSTRAINT job_application_status_history_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.job_applications(id) ON DELETE CASCADE;


--
-- Name: job_application_status_history job_application_status_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_application_status_history
    ADD CONSTRAINT job_application_status_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: job_applications job_applications_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidate_profiles(user_id) ON DELETE CASCADE;


--
-- Name: job_applications job_applications_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_views job_views_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_views
    ADD CONSTRAINT job_views_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: job_views job_views_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_views
    ADD CONSTRAINT job_views_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: jobs jobs_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: jobs jobs_recruiter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_recruiter_id_fkey FOREIGN KEY (recruiter_id) REFERENCES public.recruiter_profiles(user_id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: post_comments post_comments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_comments
    ADD CONSTRAINT post_comments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id) ON DELETE CASCADE;


--
-- Name: post_comments post_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_comments
    ADD CONSTRAINT post_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: post_likes post_likes_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id) ON DELETE CASCADE;


--
-- Name: post_likes post_likes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT post_likes_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: posts posts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT posts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profile_analytics profile_analytics_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_analytics
    ADD CONSTRAINT profile_analytics_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: profile_analytics profile_analytics_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_analytics
    ADD CONSTRAINT profile_analytics_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: profile_analytics profile_analytics_recruiter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_analytics
    ADD CONSTRAINT profile_analytics_recruiter_id_fkey FOREIGN KEY (recruiter_id) REFERENCES auth.users(id) ON DELETE SET NULL;


--
-- Name: profile_matches profile_matches_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_matches
    ADD CONSTRAINT profile_matches_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profile_matches profile_matches_recruiter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_matches
    ADD CONSTRAINT profile_matches_recruiter_id_fkey FOREIGN KEY (recruiter_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profile_scores profile_scores_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_scores
    ADD CONSTRAINT profile_scores_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: recruiter_assessment_responses recruiter_assessment_responses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recruiter_assessment_responses
    ADD CONSTRAINT recruiter_assessment_responses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: recruiter_profiles recruiter_profiles_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recruiter_profiles
    ADD CONSTRAINT recruiter_profiles_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: recruiter_profiles recruiter_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recruiter_profiles
    ADD CONSTRAINT recruiter_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: recruiter_settings recruiter_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recruiter_settings
    ADD CONSTRAINT recruiter_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.recruiter_profiles(user_id) ON DELETE CASCADE;


--
-- Name: resume_data resume_data_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.resume_data
    ADD CONSTRAINT resume_data_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: saved_jobs saved_jobs_candidate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_jobs
    ADD CONSTRAINT saved_jobs_candidate_id_fkey FOREIGN KEY (candidate_id) REFERENCES public.candidate_profiles(user_id) ON DELETE CASCADE;


--
-- Name: saved_jobs saved_jobs_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_jobs
    ADD CONSTRAINT saved_jobs_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: team_invitations team_invitations_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.team_invitations
    ADD CONSTRAINT team_invitations_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: team_invitations team_invitations_inviter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.team_invitations
    ADD CONSTRAINT team_invitations_inviter_id_fkey FOREIGN KEY (inviter_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_pinned_posts user_pinned_posts_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_pinned_posts
    ADD CONSTRAINT user_pinned_posts_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.posts(id) ON DELETE CASCADE;


--
-- Name: user_pinned_posts user_pinned_posts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_pinned_posts
    ADD CONSTRAINT user_pinned_posts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: assessment_questions Allow authenticated read access to questions; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Allow authenticated read access to questions" ON public.assessment_questions FOR SELECT TO authenticated USING (true);


--
-- Name: skill_catalog Allow public select for skill_catalog; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Allow public select for skill_catalog" ON public.skill_catalog FOR SELECT USING (true);


--
-- Name: blocked_users Allow users to check their own blocked status; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Allow users to check their own blocked status" ON public.blocked_users FOR SELECT TO authenticated USING ((auth.uid() = user_id));


--
-- Name: jobs Anyone can view active jobs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Anyone can view active jobs" ON public.jobs FOR SELECT USING ((status = 'active'::public.job_status));


--
-- Name: posts Anyone can view posts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Anyone can view posts" ON public.posts FOR SELECT USING (true);


--
-- Name: companies Authenticated users can view company info; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Authenticated users can view company info" ON public.companies FOR SELECT USING ((auth.uid() IS NOT NULL));


--
-- Name: candidate_profiles Candidate can read own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidate can read own profile" ON public.candidate_profiles FOR SELECT USING ((user_id = auth.uid()));


--
-- Name: job_applications Candidates can apply for jobs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can apply for jobs" ON public.job_applications FOR INSERT WITH CHECK ((auth.uid() = candidate_id));


--
-- Name: job_applications Candidates can manage own applications; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can manage own applications" ON public.job_applications USING ((candidate_id = auth.uid()));


--
-- Name: profile_analytics Candidates can read own analytics; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can read own analytics" ON public.profile_analytics FOR SELECT USING ((candidate_id = auth.uid()));


--
-- Name: interview_slots Candidates can select slots; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can select slots" ON public.interview_slots FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM public.interviews
  WHERE ((interviews.id = interview_slots.interview_id) AND (interviews.candidate_id = auth.uid())))));


--
-- Name: interviews Candidates can update interview slot selection; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can update interview slot selection" ON public.interviews FOR UPDATE USING ((auth.uid() = candidate_id));


--
-- Name: jobs Candidates can view active jobs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can view active jobs" ON public.jobs FOR SELECT USING ((status = 'active'::public.job_status));


--
-- Name: profile_analytics Candidates can view own analytics; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can view own analytics" ON public.profile_analytics FOR SELECT USING ((candidate_id = auth.uid()));


--
-- Name: job_applications Candidates can view own applications; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can view own applications" ON public.job_applications FOR SELECT USING ((auth.uid() = candidate_id));


--
-- Name: candidate_job_sync Candidates can view own sync insights; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can view own sync insights" ON public.candidate_job_sync FOR SELECT USING ((candidate_id = auth.uid()));


--
-- Name: interviews Candidates can view their interviews; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Candidates can view their interviews" ON public.interviews FOR SELECT USING ((auth.uid() = candidate_id));


--
-- Name: posts Public can view posts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Public can view posts" ON public.posts FOR SELECT USING (true);


--
-- Name: post_comments Public comments can be viewed by everyone; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Public comments can be viewed by everyone" ON public.post_comments FOR SELECT USING (true);


--
-- Name: follows Public following info; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Public following info" ON public.follows FOR SELECT USING (true);


--
-- Name: post_likes Public likes can be viewed by everyone; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Public likes can be viewed by everyone" ON public.post_likes FOR SELECT USING (true);


--
-- Name: blocked_users Read access for blocked status check; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Read access for blocked status check" ON public.blocked_users FOR SELECT TO authenticated USING (true);


--
-- Name: companies Recruiter can read own company; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiter can read own company" ON public.companies FOR SELECT USING ((id IN ( SELECT recruiter_profiles.company_id
   FROM public.recruiter_profiles
  WHERE (recruiter_profiles.user_id = auth.uid()))));


--
-- Name: recruiter_profiles Recruiter can read own profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiter can read own profile" ON public.recruiter_profiles FOR SELECT USING ((user_id = auth.uid()));


--
-- Name: interviews Recruiters can create interviews; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can create interviews" ON public.interviews FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM public.recruiter_profiles
  WHERE (recruiter_profiles.user_id = auth.uid()))));


--
-- Name: profile_analytics Recruiters can insert analytics; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can insert analytics" ON public.profile_analytics FOR INSERT WITH CHECK ((auth.uid() IS NOT NULL));


--
-- Name: interview_slots Recruiters can manage slots; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can manage slots" ON public.interview_slots USING ((EXISTS ( SELECT 1
   FROM public.interviews
  WHERE ((interviews.id = interview_slots.interview_id) AND (interviews.recruiter_id = auth.uid())))));


--
-- Name: jobs Recruiters can manage their company jobs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can manage their company jobs" ON public.jobs USING ((company_id IN ( SELECT recruiter_profiles.company_id
   FROM public.recruiter_profiles
  WHERE (recruiter_profiles.user_id = auth.uid()))));


--
-- Name: jobs Recruiters can manage their own jobs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can manage their own jobs" ON public.jobs USING ((auth.uid() = recruiter_id));


--
-- Name: job_applications Recruiters can update application status; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can update application status" ON public.job_applications FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM public.jobs
  WHERE ((jobs.id = job_applications.job_id) AND (jobs.recruiter_id = auth.uid())))));


--
-- Name: interviews Recruiters can update their interviews; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can update their interviews" ON public.interviews FOR UPDATE USING (((auth.uid() = recruiter_id) OR (EXISTS ( SELECT 1
   FROM public.jobs
  WHERE ((jobs.id = interviews.job_id) AND (jobs.recruiter_id = auth.uid()))))));


--
-- Name: recruiter_assessment_questions Recruiters can view assessment questions; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can view assessment questions" ON public.recruiter_assessment_questions FOR SELECT USING ((auth.role() = 'authenticated'::text));


--
-- Name: candidate_profiles Recruiters can view completed candidate profiles; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can view completed candidate profiles" ON public.candidate_profiles FOR SELECT TO authenticated USING (((EXISTS ( SELECT 1
   FROM public.recruiter_profiles
  WHERE ((recruiter_profiles.user_id = auth.uid()) AND (recruiter_profiles.account_status = 'Active'::public.account_status)))) AND (assessment_status = 'completed'::public.assessment_status)));


--
-- Name: interviews Recruiters can view their interviews; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can view their interviews" ON public.interviews FOR SELECT USING (((auth.uid() = recruiter_id) OR (EXISTS ( SELECT 1
   FROM public.jobs
  WHERE ((jobs.id = interviews.job_id) AND (jobs.recruiter_id = auth.uid()))))));


--
-- Name: profile_scores Recruiters can view trust signals from profile_scores; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters can view trust signals from profile_scores" ON public.profile_scores FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.recruiter_profiles
  WHERE (recruiter_profiles.user_id = auth.uid()))));


--
-- Name: candidate_profiles Recruiters view applicant profiles; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters view applicant profiles" ON public.candidate_profiles FOR SELECT USING ((EXISTS ( SELECT 1
   FROM (public.job_applications
     JOIN public.jobs ON ((job_applications.job_id = jobs.id)))
  WHERE ((job_applications.candidate_id = candidate_profiles.user_id) AND (jobs.recruiter_id = auth.uid())))));


--
-- Name: job_applications Recruiters view applicants for their jobs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Recruiters view applicants for their jobs" ON public.job_applications FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.jobs
  WHERE ((jobs.id = job_applications.job_id) AND (jobs.recruiter_id = auth.uid())))));


--
-- Name: profile_scores User can read own profile score; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "User can read own profile score" ON public.profile_scores FOR SELECT USING ((user_id = auth.uid()));


--
-- Name: blocked_users Users can check their own blocked status; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can check their own blocked status" ON public.blocked_users FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: posts Users can create their own posts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can create their own posts" ON public.posts FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: posts Users can delete their own posts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can delete their own posts" ON public.posts FOR DELETE USING ((auth.uid() = user_id));


--
-- Name: follows Users can follow others; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can follow others" ON public.follows FOR INSERT WITH CHECK ((auth.uid() = follower_id));


--
-- Name: candidate_profiles Users can manage own candidate profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage own candidate profile" ON public.candidate_profiles USING ((user_id = auth.uid())) WITH CHECK ((user_id = auth.uid()));


--
-- Name: notifications Users can manage own notifications; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage own notifications" ON public.notifications USING ((user_id = auth.uid()));


--
-- Name: posts Users can manage own posts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage own posts" ON public.posts USING ((user_id = auth.uid()));


--
-- Name: recruiter_profiles Users can manage own recruiter profile; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage own recruiter profile" ON public.recruiter_profiles USING ((user_id = auth.uid())) WITH CHECK ((user_id = auth.uid()));


--
-- Name: saved_jobs Users can manage own saved jobs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage own saved jobs" ON public.saved_jobs USING ((candidate_id = auth.uid()));


--
-- Name: post_comments Users can manage their own comments; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own comments" ON public.post_comments USING ((auth.uid() = user_id));


--
-- Name: post_likes Users can manage their own likes; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own likes" ON public.post_likes USING ((auth.uid() = user_id));


--
-- Name: assessment_responses Users can manage their own responses; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own responses" ON public.assessment_responses TO authenticated USING ((auth.uid() = candidate_id)) WITH CHECK ((auth.uid() = candidate_id));


--
-- Name: resume_data Users can manage their own resume data; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own resume data" ON public.resume_data USING ((auth.uid() = user_id));


--
-- Name: assessment_sessions Users can manage their own session; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own session" ON public.assessment_sessions TO authenticated USING ((auth.uid() = candidate_id)) WITH CHECK ((auth.uid() = candidate_id));


--
-- Name: user_pinned_posts Users can pin their own; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can pin their own" ON public.user_pinned_posts FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: follows Users can see who follows them; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can see who follows them" ON public.follows FOR SELECT USING ((auth.uid() = following_id));


--
-- Name: follows Users can see who they follow; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can see who they follow" ON public.follows FOR SELECT USING ((auth.uid() = follower_id));


--
-- Name: follows Users can unfollow others; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can unfollow others" ON public.follows FOR DELETE USING ((auth.uid() = follower_id));


--
-- Name: user_pinned_posts Users can unpin their own; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can unpin their own" ON public.user_pinned_posts FOR DELETE USING ((auth.uid() = user_id));


--
-- Name: candidate_settings Users can update their own candidate settings; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update their own candidate settings" ON public.candidate_settings FOR UPDATE USING ((auth.uid() = user_id));


--
-- Name: posts Users can update their own posts; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can update their own posts" ON public.posts FOR UPDATE USING ((auth.uid() = user_id));


--
-- Name: candidate_settings Users can view their own candidate settings; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view their own candidate settings" ON public.candidate_settings FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: user_pinned_posts Users can view their own pins; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view their own pins" ON public.user_pinned_posts FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: interview_slots Viewable slots; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Viewable slots" ON public.interview_slots FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.interviews
  WHERE ((interviews.id = interview_slots.interview_id) AND ((interviews.candidate_id = auth.uid()) OR (interviews.recruiter_id = auth.uid()))))));


--
-- Name: team_invitations admin_manage_invites; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY admin_manage_invites ON public.team_invitations USING ((EXISTS ( SELECT 1
   FROM public.recruiter_profiles
  WHERE ((recruiter_profiles.user_id = auth.uid()) AND (recruiter_profiles.is_admin = true) AND (recruiter_profiles.company_id = team_invitations.company_id)))));


--
-- Name: job_views anyone_can_log_view; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY anyone_can_log_view ON public.job_views FOR INSERT WITH CHECK (true);


--
-- Name: assessment_questions; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.assessment_questions ENABLE ROW LEVEL SECURITY;

--
-- Name: assessment_responses; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.assessment_responses ENABLE ROW LEVEL SECURITY;

--
-- Name: assessment_sessions; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.assessment_sessions ENABLE ROW LEVEL SECURITY;

--
-- Name: blocked_users; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.blocked_users ENABLE ROW LEVEL SECURITY;

--
-- Name: candidate_job_sync; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.candidate_job_sync ENABLE ROW LEVEL SECURITY;

--
-- Name: candidate_profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.candidate_profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: candidate_settings; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.candidate_settings ENABLE ROW LEVEL SECURITY;

--
-- Name: career_gps; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.career_gps ENABLE ROW LEVEL SECURITY;

--
-- Name: career_milestones; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.career_milestones ENABLE ROW LEVEL SECURITY;

--
-- Name: companies; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.companies ENABLE ROW LEVEL SECURITY;

--
-- Name: follows; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.follows ENABLE ROW LEVEL SECURITY;

--
-- Name: interview_slots; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.interview_slots ENABLE ROW LEVEL SECURITY;

--
-- Name: interviews; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.interviews ENABLE ROW LEVEL SECURITY;

--
-- Name: team_invitations invitee_view_invites; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY invitee_view_invites ON public.team_invitations FOR SELECT USING ((email = (( SELECT users.email
   FROM auth.users
  WHERE (users.id = auth.uid())))::text));


--
-- Name: job_applications; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.job_applications ENABLE ROW LEVEL SECURITY;

--
-- Name: job_views; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.job_views ENABLE ROW LEVEL SECURITY;

--
-- Name: jobs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.jobs ENABLE ROW LEVEL SECURITY;

--
-- Name: notifications; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY;

--
-- Name: post_comments; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.post_comments ENABLE ROW LEVEL SECURITY;

--
-- Name: post_likes; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.post_likes ENABLE ROW LEVEL SECURITY;

--
-- Name: posts; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.posts ENABLE ROW LEVEL SECURITY;

--
-- Name: profile_analytics; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.profile_analytics ENABLE ROW LEVEL SECURITY;

--
-- Name: profile_scores; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.profile_scores ENABLE ROW LEVEL SECURITY;

--
-- Name: recruiter_assessment_questions; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.recruiter_assessment_questions ENABLE ROW LEVEL SECURITY;

--
-- Name: recruiter_assessment_responses; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.recruiter_assessment_responses ENABLE ROW LEVEL SECURITY;

--
-- Name: recruiter_profiles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.recruiter_profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: resume_data; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.resume_data ENABLE ROW LEVEL SECURITY;

--
-- Name: saved_jobs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.saved_jobs ENABLE ROW LEVEL SECURITY;

--
-- Name: skill_catalog; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.skill_catalog ENABLE ROW LEVEL SECURITY;

--
-- Name: team_invitations; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.team_invitations ENABLE ROW LEVEL SECURITY;

--
-- Name: career_gps tf_candidate_gps_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tf_candidate_gps_access ON public.career_gps USING ((candidate_id = auth.uid()));


--
-- Name: career_milestones tf_candidate_milestone_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tf_candidate_milestone_access ON public.career_milestones USING ((EXISTS ( SELECT 1
   FROM public.career_gps
  WHERE ((career_gps.id = career_milestones.gps_id) AND (career_gps.candidate_id = auth.uid())))));


--
-- Name: user_pinned_posts; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.user_pinned_posts ENABLE ROW LEVEL SECURITY;

--
-- Name: users; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict 81LaEqsamR4P1EWiqt1azV66bhBDDbXSdmEAwo9tVBEeoa0J7jGD79gjQXvKfqo

