@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    color: var(--foreground);
    background: var(--background);
    font-family: system-ui, sans-serif;
  }
}